.login-page {
  width: 100%;
  background-color: #8a8a8a10;
  height: 100vh;
  position: relative;
  .form {
    height: fit-content;
    width: 380px;
    padding: 12px 20px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -120px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.096);
    .form-title {
      margin: 0;
      margin-bottom: 16px;
      padding-bottom: 10px;
      border-bottom: 1px solid #8a8a8a45;
      font-weight: 600
    }
  }
  .el-form-item {
    margin-bottom: 16px;
    &.form-item-btn-group {
      text-align: right;
      margin-bottom: 0;
    }
  }
}