$breadHeight: 40px;
.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  .side-container {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #324157;
    color: #bfcbd9;
    overflow: hidden;
    -webkit-user-select: none;
    .logo-container {
      text-align: center;
      span {
        cursor: pointer;
      }
    }
    .navbar-container {
      flex: 1;
      overflow: hidden;
    }
  }
  .content {
    flex: 1;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    box-sizing: border-box;
    position: relative;
    .breadcrumb {
      height: $breadHeight;
      line-height: $breadHeight;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 0 12px;
    }
    .route-cell {
      height: 100%;
      width: 100%;
      padding-top: $breadHeight;
      box-sizing: border-box;
      padding: 0 12px;
      padding-bottom: 8px;
      overflow: auto;
    }
  }
}
